@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");

:root {
  --lightGrey: rgb(223, 223, 223);
  --darkGrey: rgb(105, 105, 105);
  --lightGreen: #4ce6be;
  --lightBlue: #3bd4d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
.bg-lightGrey {
  background-color: var(--lightGrey);
}

.bg-blue {
  background-color: var(--lightGreen) !important;
}

.border-blue {
  border: 2px solid #3bd4d8;
}

body {
  font-family: "Oswald", sans-serif !important;
  background-color: var(--darkGrey) !important;
}

footer img {
  height: 10vh;
}

footer a {
  text-decoration: none;
}

.badgeShape {
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}
